body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #a2c5eb;
    margin-right: 10px;
}

.table-row {
    cursor: pointer;
}

.selected {
    background-color: #b8cfe0;
    /* Couleur de fond pour la sélection */
}

.hi {
    visibility: hidden;
}