<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/buttons.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/stylePerso.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script>
    var listObjectifs = [];
  function ajouterObjectifs() {
    var objectif = document.getElementById('objectif').value;
    listObjectifs.push(objectif);
    if (listObjectifs.length>1)
      document.getElementById('objectif').value = "";
    document.getElementById('objectifs').value = listObjectifs;
    console.log(listObjectifs);
  }
  var listObjectifs2=[];
  var objectifs=[];

  function modifierObjectifs() {
    var objectif = document.getElementById('object').value;
    objectifs.push(objectif);
      document.getElementById('objectif').value = "";
    var listeChaines = document.getElementById('listeChaines');
    var listItem = document.createElement('li');
    listItem.textContent = objectif;
    listeChaines.appendChild(listItem);
    document.getElementById('objectifsmodif').value = objectifs;
    console.log(objectifs);
  }
  function viderObjectifs() {
      var listeChaines = document.getElementById('listeChaines');
     // Récupérez tous les éléments li dans la liste
        var elementsLi = listeChaines.getElementsByTagName('li');

        // Boucle pour supprimer tous les éléments li
        while (elementsLi.length > 0) {
            listeChaines.removeChild(elementsLi[0]);
      }
      objectifs.splice(0, objectifs.length);


  }
      // Utilisation de jQuery pour simplifier l'ajout de gestionnaires d'événements
      $(document).ready(function () {
        // Ajout d'un gestionnaire de clic pour toutes les lignes avec la classe "table-row"
        $(".table-row").on("click", function () {
          
          // Supprimer la classe "selected" de toutes les lignes
          // Nettoyage complet
          $(".table-row").removeClass("selected");
           // Supprimer la classe "objectifselected" de tous les éléments avec cette classe
        document.querySelectorAll('.objectif').forEach(function (element) {
            element.classList.remove('objectifselected');
        });
          viderObjectifs();
          var listeChaines = document.getElementById('listeChaines');

          // Ajouter la classe "selected" à la ligne cliquée
          $(this).addClass("selected");
        // Ajouter la classe "objectifselected" à tous les éléments avec cette classe sous la ligne cliquée
        $(this).find(".objectif").addClass("objectifselected");

          // Récupérer les données de la ligne sélectionnée
          var id = $(this).find("td:eq(0)").text();
          var libelle = $(this).find("td:eq(1)").text();
          var description = $(this).find("td:eq(2)").text();
          // var objectifs = $(this).find("span:eq(3)").toArray();
          document.getElementById("id").value = id;
          document.getElementById("libelle").value = libelle;
          document.getElementById("description").value = description;
          
          let listObjectifs2=document.querySelectorAll('.objectifselected');
          
          listObjectifs2.forEach(e=>{
            let objectifCourant=e.querySelector('p').innerText;
            let listItem = document.createElement('li');
            listItem.textContent = objectifCourant;
            listeChaines.appendChild(listItem);
            objectifs.push(objectifCourant);
          })
          // objectifs=[];
          // document.getElementById("listeChaines").value = objectifs;
  // $(".objectifselected").remove();
  
    console.log(objectifs);
   
          
        });

        $("#table_Ens").DataTable({});
      });</script>
    <title>Gestion UE</title>
  </head>
  <body>
    <div th:include="fragments/nav"></div>
    <div class="text-center">
      <!-- <h3>Liste des EC : <span th:text="${ue.code}"> </span>  <span th:text="${ue.libelle}"></span></h3> -->
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#myModal">
        Ajouter un nouveau Enseignement
      </button>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header text-center btn-success">
            <h4 class="modal-title">Ajouter un nouveau EC a UE</h4>
            <button type="button" class="btn-close"
              data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form th:action="@{ajouter_ens(idc=${classe.id})}" method="post">

              <div class="mb-3 mt-3">
                <label class="form-label" for>libelle</label>

                <input type="text" class="form-control" name="libelle" />
              </div>

              <div class="row g-3 align-items-center">
                <div class="mb-3 mt-3">
                  <label class="form-label" for>Description</label>
                  <input type="text" class="form-control" name="description" />
                </div>
              </div>
              <div class="row g-3 align-items-center">
                <div class="mb-3 mt-3">
                  <label class="form-label" for>Objectifs</label>
                  <input type="text" class="form-control" name="objectif"
                    id="objectif" />
                  <button type="button" class="btn btn-outline-primary"
                    onclick="ajouterObjectifs()">Enregistrer objectif</button>
                  <button type="button" class="btn btn-outline-primary"
                    onclick="ajouterObjectifs()">Ajouter un autre
                    objectif</button>
                </div>
              </div>
              <div class="row g-3 align-items-center" style="display: none;">
                <div class="mb-3 mt-3">
                  <label class="form-label" for>Objectifs</label>
                  <input type="text" class="form-control" name="objectifs"
                    id="objectifs" />

                </div>
              </div>
              <button class="btn btn-success" type="submit">Ajouter</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <table id="table_Ens">
      <thead>
        <tr>
          <th style="display: none">Id</th>

          <th>Libelle</th>
          <th>Description</th>
          <th>Objectifs</th>
          <th style="text-align: center; background-color: firebrick">
            Operation
          </th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e:${listeDesEnseignement}" class="table-row">
          <td style="display: none" th:text="${e.id}"></td>

          <td th:text="${e.libelle}"></td>
          <td th:text="${e.description}"></td>
          <td>
            <span th:each="o:${e.objectifs}" class="objectif">
              <p th:text="${o}"></p>
            </span>
          </td>

          <td>
            <!-- <a th:href="@{/rechercher_id_modifier(id=${e.id})}"   class="btn btn-primary"> Modifier</a> -->
            <div class="text-center">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#myModal2">
                Modifier
              </button>
              <a
                onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet Enseignement')"
                th:href="@{/supprimer_ens_classe(id=${e.id},id2=${classe.id})}"
                class="btn btn-danger">
                Supprimer</a>
            </div>
          </td>

          <td>
            <div class="text-center">
              <a th:href="@{/details_ue(id=${e.id})}"
                class="btn btn-outline-primary"> Details</a>
            </td>
          </div>
        </tr>
      </tbody>
    </table>

    <!-- The Modal -->
    <div class="modal" id="myModal2">
      <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header text-center btn-primary">
            <h4 class="modal-title">Modifier un Enseignement</h4>
            <button type="button" class="btn-close"
              data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form th:action="@{ajouter_ens(idc=${classe.id})}" method="post">
              <div class="mb-3" style="display: none">
                <label for="id">Id</label>
                <input type="text" class="form-control" name="id" id="id" />
              </div>
              <div class="mb-3 mt-3">
                <label class="form-label" for>libelle</label>

                <input type="text" class="form-control" id="libelle"
                  name="libelle" />
              </div>

              <div class="row g-3 align-items-center">
                <div class="mb-3 mt-3">
                  <label class="form-label" for>Description</label>
                  <input type="text" class="form-control" name="description"
                    id="description" />
                </div>
              </div>
              <div class="row g-3 align-items-center" style="display: none;">
                <div class="mb-3 mt-3">
                  <label class="form-label" for>Objectifs</label>
                  <input type="text" class="form-control" name="objectifs"
                    id="objectifsmodif" />

                </div>
              </div>
              <div class="row g-3 align-items-center">
                <div class="mb-3 mt-3">
                  <label class="form-label" for>Objectifs</label>
                  <ul id="listeChaines"> </ul>
                  <input type="text" class="form-control" name="objectif"
                    id="object" />
                  <button type="button" class="btn btn-outline-primary"
                    onclick="modifierObjectifs()">Enregistrer
                    objectif</button>
                  <button type="button" class="btn btn-outline-danger"
                    onclick="viderObjectifs()">Vider
                    la liste des objectif</button>

                </div>
              </div>

              <button class="btn btn-primary" type="submit">Modifier</button>
            </form>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
