<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/buttons.dataTables.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{/css/stylePerso.css}">
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.7.0.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
   
<title>Gestion UE</title>
  
</head>
<body>
<div th:include="fragments/nav"></div>
<button  type="button" class="btn btn-success text-center" data-bs-toggle="modal" data-bs-target="#myModal">
    Ajouter un nouveau UE
</button>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ajouter un nouveau UE</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{ajouter_ue}" method="post">
                
                    <div class="mb-3 mt-3">
                
                        <label class="form-label " for="">Code</label>
                
                
                        <input type="text" class="form-control" name="code" />
                    </div>
                
                
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="">libelle</label>
                
                        <input type="text" class="form-control" name="libelle" />
                    </div>
                
                    <div class="row g-3 align-items-center">
                        <div class="mb-3 mt-3">
                            <label class="form-label" for="">Credit</label>
                
                            <input type="text" class="form-control" name="credit" />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="mb-3 mt-3">
                            <label class="form-label" for="">Coefficient</label>
                
                            <input type="text" class="form-control" name="coefficient" />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="mb-3 mt-3">
                            <label class="form-label" for="">Coefficient</label>
                
                            <input type="text" class="form-control" name="coefficient" />
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Envoyer</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
    </div>
    
    </div>
    <table>
<thead>

<tr>
<th>Id</th>
<th>Code</th>
<th>Libelle</th>
<th>Credits</th>
<th>Coefficient</th>
<th style="text-align: center; background-color: firebrick;">Operation</th>
<!-- <th >Action</th> -->
</tr>
</thead>
<tbody>
<tr th:each="e:${listeDesUE}" class="table-row">
    <td th:text="${e.id}"></td>
    <td th:text="${e.code}"></td>
    <td th:text="${e.libelle}"></td>
    <td th:text="${e.credit}"></td>
    <td th:text="${e.coefficient}"></td>
    <!-- <td th:text="${e.id}"></td> -->
<td>
<!-- <a th:href="@{/rechercher_id_modifier(id=${e.id})}"   class="btn btn-primary"> Modifier</a> -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">
    Modifier
</button>
<a th:href="@{/rechercher_id_supprimer(id=${e.id})}" class="btn btn-danger"> Supprimer</a>

</td>


</tr>


</tbody>
    </table>
    <!-- The Modal -->
    <div class="modal" id="myModal2">
        <div class="modal-dialog modal-fullscreen-xl-down">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modifier un UE</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <form th:action="@{ajouter_ue}" method="post" class="mx-auto">
                        <div class="mb-3 hi">
                            <label for="id">Id</label>
                            <input  type="text" class="form-control" name="id" id="id">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="code">Code</label>
                            <input type="text" class="form-control" name="code"  id="code">
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label" for="libelle">Libellé</label>
                            <input type="text" class="form-control" name="libelle"  id="libelle">
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label" for="credit">Crédit</label>
                            <input type="text" class="form-control" name="credit"  id="credit">
                        </div>
    
                        <div class="mb-3">
                            <label class="form-label" for="coefficient">Coefficient</label>
                            <input type="text" class="form-control" name="coefficient"
                                id="coefficient">
                        </div>
    
                        <button class="btn btn-success" type="submit">Modifier</button>
                    </form>
    
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
    
            </div>
        </div>
    </div>

    <script>
        // Utilisation de jQuery pour simplifier l'ajout de gestionnaires d'événements
        $(document).ready(function () {
            // Ajout d'un gestionnaire de clic pour toutes les lignes avec la classe "table-row"
            $('.table-row').on('click', function () {
                // Supprimer la classe "selected" de toutes les lignes
                $('.table-row').removeClass('selected');
                // Ajouter la classe "selected" à la ligne cliquée
                $(this).addClass('selected');

                // Récupérer les données de la ligne sélectionnée
                var id = $(this).find('td:eq(0)').text();
                var code = $(this).find('td:eq(1)').text();
                var libelle = $(this).find('td:eq(2)').text();
                var credit = $(this).find('td:eq(3)').text();
                var coefficient = $(this).find('td:eq(4)').text();
                document.getElementById("id").value = id;
                document.getElementById("code").value = code;
                document.getElementById("libelle").value = libelle;
                document.getElementById("credit").value = credit;
                document.getElementById("coefficient").value = coefficient;
            });
        });
    </script>
</body>
</html>