<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <title>UE</title>
    <style>
        body {
            padding: 20px;
        }
    
        form {
            max-width: 400px;
            margin: auto;
        }
    
        div {
            margin-bottom: 15px;
        }
    </style>
  </head>
  <body>
    <h1 class="text-center"></h1>
    <form th:action="@{ajouter_ue}" method="post" >
     
                <div class="mb-3 mt-3">
                
                <label  class="form-label " for="">Code</label>

    
                <input type="text" class="form-control" name="code" />
            </div>
        

                <div class="mb-3 mt-3">
                <label  class="form-label" for="">libelle</label>
               
                <input type="text" class="form-control" name="libelle" />
            </div>
    
        <div class="row g-3 align-items-center">
            <div class="mb-3 mt-3">
                <label  class="form-label" for="">Credit</label>
           
                <input type="text" class="form-control" name="credit" />
            </div>
        </div>
            <div class="row g-3 align-items-center">
            <div class="mb-3 mt-3">
                <label  class="form-label" for="">Coefficient</label>
           
                <input type="text" class="form-control" name="coefficient" />
            </div>
            </div>
            <div class="row g-3 align-items-center">
            <div class="mb-3 mt-3">
                <label   class="form-label"for="">Coefficient</label>
               
                <input type="text" class="form-control" name="coefficient" />
            </div>
      </div>
      <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>
  </body>
</html>
