<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <title>Modification d'un UE</title>
    <style>
        body {
            padding: 20px;
        }

        form {
            max-width: 400px;
            margin: auto;
        }

        div {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <h1 class="text-center">Modifier un UE</h1>
    <form th:action="@{ajouter_ue}" method="post" class="mx-auto">
        <div class="mb-3">
            <label class="form-label" for="code">Code</label>
            <input type="text" class="form-control" name="code" th:value="${ue.code}" id="code">
        </div>

        <div class="mb-3">
            <label class="form-label" for="libelle">Libellé</label>
            <input type="text" class="form-control" name="libelle" th:value="${ue.libelle}" id="libelle">
        </div>

        <div class="mb-3">
            <label class="form-label" for="credit">Crédit</label>
            <input type="text" class="form-control" name="credit" th:value="${ue.credit}" id="credit">
        </div>

        <div class="mb-3">
            <label class="form-label" for="coefficient">Coefficient</label>
            <input type="text" class="form-control" name="coefficient" th:value="${ue.coefficient}" id="coefficient">
        </div>

        <button class="btn btn-success" type="submit">Modifier</button>
    </form>

    <!-- Your table code goes here -->

</body>

</html>