<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/buttons.dataTables.min.css}">
        <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">
        <link rel="stylesheet" th:href="@{/css/stylePerso.css}">
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery-3.7.0.js}"></script>
        <script th:src="@{/js/bootstrap.js}"></script>
        <script th:src="@{/js/dataTables.buttons.min.js}"></script>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script>
        <title>Gestion UE</title>
    </head>
    <body>
        <div th:include="fragments/nav"></div>
        <div class="text-center">
            <h3>Liste des Modules : <span th:text="${ue.code}"> </span> <span
                    th:text="${ue.libelle}"></span></h3>
            <button
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#myModal">
                Ajouter un nouveau Modules
            </button>
        </div>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-fullscreen-xl-down">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-center btn-success">
                        <h4 class="modal-title">Ajouter un nouveau Modules a
                            UE</h4>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{ajouter_ec(id=${ue.id})}"
                            method="post">
                            <div class="mb-3 mt-3">
                                <label class="form-label" for>Code</label>

                                <input type="text" class="form-control"
                                    name="code" />
                            </div>

                            <div class="mb-3 mt-3">
                                <label class="form-label" for>libelle</label>

                                <input type="text" class="form-control"
                                    name="libelle" />
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for>CM</label>

                                    <input type="text" class="form-control"
                                        name="cm" />
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for>TD</label>

                                    <input type="text" class="form-control"
                                        name="td" />
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for>TP</label>

                                    <input type="text" class="form-control"
                                        name="tp" />
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for>TPE</label>

                                    <input type="text" class="form-control"
                                        name="tpe" />
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label"
                                        for>Coefficient</label>

                                    <input type="text" class="form-control"
                                        name="coefficient" />
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label"
                                        for>Description</label>
                                    <input type="text" class="form-control"
                                        name="description" />
                                </div>
                            </div>
                            <button class="btn btn-success"
                                type="submit">Ajouter</button>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <!-- <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div> -->
                </div>
            </div>
        </div>

        <table id="table_Modules">
            <thead>
                <tr>
                    <th style="display: none">Id</th>
                    <th>Nom</th>
                    <th>Semestre</th>
                    <th>EC</th>
                    <!-- <th>Maquette</th> -->
                    <th style="text-align: center; background-color: firebrick">
                        Operation
                    </th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="e:${listeDesModules}" class="table-row">
                    <td style="display: none" th:text="${e.id}"></td>
                    <td th:text="${e.nom}"></td>
                    <td th:text="${e.semestre.libelle}"></td>
                    <!-- <td th:text="${e.ec.libelle}"></td> -->
                    <!-- <td th:text="${e.maquette}"></td> -->
                    <!-- <td th:text="${e.description}"></td> -->

                    <td>
                        <!-- <a th:href="@{/rechercher_id_modifier(id=${e.id})}"   class="btn btn-primary"> Modifier</a> -->
                        <div class="text-center">
                            <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#myModal2">
                                Modifier
                            </button>
                            <a
                                onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet Modules')"
                                th:href="@{/supprimer_ec(id=${e.id},id2=${ue.id})}"
                                class="btn btn-danger">
                                Supprimer</a>
                        </div>
                    </td>

                    <td>
                        <div class="text-center">
                            <a th:href="@{/details_modules(id=${e.id})}"
                                class="btn btn-outline-primary"> Details</a>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>

        <!-- The Modal -->
        <div class="modal" id="myModal2">
            <div class="modal-dialog modal-fullscreen-xl-down">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-center btn-primary">
                        <h4 class="modal-title">Modifier Modules</h4>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{ajouter_ec(id=${ue.id})}"
                            method="post">
                            <div class="mb-3" style="display: none">
                                <label for="id">Id</label>
                                <input type="text" class="form-control"
                                    name="id" id="id" />
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="form-label" for>Code</label>

                                <input type="text" class="form-control"
                                    name="code" id="code" />
                            </div>

                            <div class="mb-3 mt-3">
                                <label class="form-label" for>libelle</label>

                                <input
                                    type="text"
                                    class="form-control"
                                    name="libelle"
                                    id="libelle" />
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for>CM</label>

                                    <input type="text" class="form-control"
                                        name="cm" id="cm" />
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for>TD</label>

                                    <input type="text" class="form-control"
                                        name="td" id="td" />
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for>TP</label>

                                    <input type="text" class="form-control"
                                        name="tp" id="tp" />
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label" for>TPE</label>

                                    <input type="text" class="form-control"
                                        name="tpe" id="tpe" />
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label"
                                        for>Coefficient</label>

                                    <input
                                        type="text"
                                        class="form-control"
                                        name="coefficient"
                                        id="coefficient" />
                                </div>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="mb-3 mt-3">
                                    <label class="form-label"
                                        for>Description</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="description"
                                        id="description" />
                                </div>
                            </div>
                            <button class="btn btn-primary"
                                type="submit">Modifier</button>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <!-- <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
              Close
            </button>
          </div> -->
                </div>
            </div>
        </div>

        <script>
      // Utilisation de jQuery pour simplifier l'ajout de gestionnaires d'événements
      $(document).ready(function () {
        // Ajout d'un gestionnaire de clic pour toutes les lignes avec la classe "table-row"
        $(".table-row").on("click", function () {
          // Supprimer la classe "selected" de toutes les lignes
          $(".table-row").removeClass("selected");
          // Ajouter la classe "selected" à la ligne cliquée
          $(this).addClass("selected");
          // Récupérer les données de la ligne sélectionnée
          var id = $(this).find("td:eq(0)").text();
          var code = $(this).find("td:eq(1)").text();
          var libelle = $(this).find("td:eq(2)").text();
          var cm = $(this).find("td:eq(3)").text();
          var td = $(this).find("td:eq(4)").text();
          var tp = $(this).find("td:eq(5)").text();
          var tpe = $(this).find("td:eq(7)").text();
          var coefficient = $(this).find("td:eq(9)").text();
          var description = $(this).find("td:eq(10)").text();
          document.getElementById("id").value = id;
          document.getElementById("code").value = code;
          document.getElementById("libelle").value = libelle;
          document.getElementById("cm").value = cm;
          document.getElementById("td").value = td;
          document.getElementById("tp").value = tp;
          document.getElementById("tpe").value = tpe;
          document.getElementById("description").value = description;
          document.getElementById("coefficient").value = coefficient;
        });

        $("#table_Modules").DataTable({});
      });
    </script>
    </body>
</html>
